/* common css start */
*{
    padding: 0px;
    margin: 0px;
    outline: 0px;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.justify_content{
    justify-content: space-between;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2{
    font-family: 'Abril Fatface', cursive; 
}
h3,h4,h5,h6,button,a{
    font-family: 'Ubuntu', sans-serif;
}
/* common css end */
/* top bar start */
#top_bar{
    background-color:#0f2f44 ;
    padding:18px ;
    color: #dfe1e3;
}
.align_items{
    align-items: center;
}
/* top bar end */
/* nav start */
nav div ul li a{
    color: #222222;
    transition: .6s;
    
}
nav div ul li{
    padding:40px 19px;
}
nav div ul li a:hover{
    color: #ffd462;
    background-color:#fff9e6 ;
    
}
nav div ul li button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #999999;
    border: 1px solid #dedede;
    background:none;
  
}
/* nav end */